@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
#title{
  background-color: #ff4c68;
}

body{
    font-family: 'Montserrat', sans-serif;
}


.nav-link{
  font-size: 1.2rem;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

.nav-brand {
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

#features{
  background-color: white;
  height: 400px;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 600px) {
  #logos {
    padding-bottom: 20px;
  }
}
